    html,body {
    font-family: 'Lato', sans-serif;
    font-weight: 300 !important;
    color: #757575;
}


/* Header
----------------------*/

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
}

nav .logo > img {
    width: 130px;
    position: relative;
    top: 20px;
    left: 60px;
}

nav ul {
    float: right;
    margin: 50px;
}

nav ul > li > a {
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

nav ul > li > a:hover {
    border-bottom: 2px solid #E67E22;
}

.hero-text-box {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
}

.hero-text-box > h1 {
    text-transform: capitalize;
}

/* Buttons
--------------------- */
.btn-full {
    color: #fff;
    background-color: #E67E22 !important;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 100px;
    padding: 10px 30px;
    transition: 0.3s ease-in-out;
}

.btn-full:hover {
    color: #fff;
    background-color: #cc6309 !important;
}

.btn-ghost {
    color: #E67E22;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #E67E22;
    border-radius: 25px;
    padding: 10px 30px;
    transition: 0.3s ease-in-out;
}

.btn-ghost:hover {
    color: #fff;
    background-color: #E67E22 !important;

}
/* Features
---------------------------------*/

#features {

        padding-top: 75px;
    }
#features h1 {
    margin-bottom: 25px;
}
.divider {
    width: 200px;
    border: 1px solid #E67E22;
    margin-bottom: 75px;
}
#features h3 {
    font-size: 130%;
    text-transform: uppercase;
}
#features i {
    font-size: 250% !important;
    margin: 30%;
    color: #E67E22;
}
/* Meals
---------------------------------*/
#meals {
    margin-top: 75px;
}
#meals .row > .col-sm-3 {
    padding: 0px;
     overflow: hidden;
    background-color: #000;
}
#meals img {
    opacity: 0.5;
    transform: scale(1.25);
    transition: 0.5s ease-in-out;
}
#meals img:hover {
    opacity: 1;
    transform: scale(1)
}
/* How
---------------------------------*/
#how {
    max-height: 100% !important;
    padding: 50px 0px;
    background-color: #F4F4F4;
}
#how .divider {
    margin-bottom: 70px;
}
#how ul {
    padding: 100px 0px;
}
#how ul > li {
    margin-bottom: 25px;
    clear: both;
}
#how ul > li div {
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border: 2px solid #E67E22;
    color: #E67E22;
    font-size: 190%;
    border-radius: 50%;
     float: left;
    margin-right: 25px;
    margin-bottom: 30px;

}
#how ul > li p {
    position: relative;
    top:3px;
}

.download-btn img {
    width: 200px;
    height: 60px;
}


/*cities
--------------------------------------*/
#cities {
    padding-top: 100px;
    padding-bottom: 25px;
}

#cities h3 {
    margin-top: 15px;
    text-transform: uppercase;;
}
#cities .divider {
    margin-bottom: 75px;
}
#cities ul > li {
    clear: both;
}

#cities ul > li > i  {
    font-size:200%;
    margin-right: 10px;
    color: #E67E22;
    float: left;
}
#cities ul > li > p {
    position: relative;
    top: 12px;
}

/*testemonials
--------------------------------------*/
.parallax {
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(../img/back-customers.jpg);
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#testemonials {
  color: #ccc;

  padding-top: 100px;
  padding-bottom: 25px;
}

#testemonials .ion-quote {
    font-size: 300%;
}
.customer img {
    float: left
}

.customer p {
    position: relative;
    top: 50px;
    left: 10px;
    font-size: 150%;
}

/*Pricing
--------------------------------------*/
#pricing {
    color: #717171;
    padding: 50px 0px;
    background-color: #F4F4F4;
}

#pricing .col-sm-4 {
    margin-left: 20px;
    margin-right: 15px;
    width: 30%;
    border-radius: 1px;
    padding: 0px;
    -webkit-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 3px 6px -1px rgba(0,0,0,0.75);
}

.price-heading {
    padding: 10px;
    background-color: #EFEFEF;
    border-bottom: 1px solid #D2D2D2;
}

.price {
    color: #E67E22;
    font-size: 300%;
}
.price span {
    font-size: 40%;
}
.tiny {
    margin: 0px;
}
.perks {
    padding: 10px;
    border-bottom: 1px solid #D2D2D2;
}

#pricing ul > li > i  {
    margin-right: 10px;
    color: #E67E22;
    float: left;
}

#pricing ul > li {
    clear: both;
}


#pricing .col-sm-4 .btn {
    margin: 10px 100px;
}

/*Contact
--------------------------------------*/
#contact {
    padding: 100px 0px 50px 0px;
    font-size: 120%;
}

#contact .custom-checkbox {
    margin-top: 8px;
}

 textarea{
    resize:none;
}


/*Footer
--------------------------------------*/
footer {
    padding-top: 20px;
    background-color: #333333;
    color: #888888;
}

footer ul >li > a {
    color: #888888;
    font-size: 80%;
    text-align: center;
}

footer .social {
    float: right;
}

footer i {
    transition: 0.3s ease-in-out;
    text-align: center;
    font-size: 150%;
    color: #888888;
}

footer a > .ion-social-facebook:hover {
    color: #3b5998;
}
footer a > .ion-social-twitter:hover {
    color: #55acee;
}
footer a > .ion-social-googleplus:hover {
    color: #dd4b39;
}
footer a > .ion-social-instagram:hover {
    color: #e95950;
}
footer a > .ion-social-linkedin:hover {
    color: #007bb5;
}
